.contain {
  height: 350px;
  padding: 0;
  background-image: url("../assets/search_bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

#search:focus {
  outline: none !important;
  border: ring-blue-300;
  box-shadow: 0 0 10px #719ece;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 2px;
}

.pagination .page-number {
  font-size: 16px;
  font-weight: 600;
  color: #00a8ff;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pagination .page-number:hover {
  color: #fff;
  background: #00a8ff;
}

.pagination .active {
  color: #fff;
  background: #00a8ff;
}

.pagination .active:hover {
  color: #00a8ff;
  background: #fff;
}
